Checks: '*,-hicpp-signed-bitwise,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-narrowing-conversions,-readability-magic-numbers,-bugprone-narrowing-conversions,-cppcoreguidelines-init-variables'